<<<<<<< HEAD
#header h1 {
	color: rgb(28, 102, 145);
	text-transform: uppercase;
	text-shadow: rgb(255, 255, 255) 2px 2px 2px;
	font-size: 48px;
	font-weight: 600;
	font-family: Arial, Times, serif;
	margin: 0px;
	padding: 5px 0px 0px;
	line-height: normal;
	text-align: center;
}

.content {
	position: absolute;
	display: block;
	position: absolute;
	background-position: 50% 0%;
	background-repeat: repeat-x;
	border-width: 1px;
	background-image:
		url(http://media.lpgenerator.ru/images/160923/bggreen.png#size_1x850);
	capture: on;
	container: on;
	height: 849px;
	width: 100%;
	z-index: 1;
	anchor-id: #block-new1;
	left: 0;
	top: 0;
}

.subtitle {
	text-align: center;
	color: rgb(0, 128, 202);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	text-align: center;
=======
#header h1 {
	color: rgb(28, 102, 145);
	text-transform: uppercase;
	text-shadow: rgb(255, 255, 255) 2px 2px 2px;
	font-size: 48px;
	font-weight: 600;
	font-family: Arial, Times, serif;
	margin: 0px;
	padding: 5px 0px 0px;
	line-height: normal;
	text-align: center;
}

.content {
	position: absolute;
	display: block;
	position: absolute;
	background-position: 50% 0%;
	background-repeat: repeat-x;
	border-width: 1px;
	background-image:
		url(http://media.lpgenerator.ru/images/160923/bggreen.png#size_1x850);
	capture: on;
	container: on;
	height: 849px;
	width: 100%;
	z-index: 1;
	anchor-id: #block-new1;
	left: 0;
	top: 0;
}

.subtitle {
	text-align: center;
	color: rgb(0, 128, 202);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	text-align: center;
>>>>>>> refs/remotes/origin/shtrak
}
