.navbar-inverse, .navbar-inverse .navbar-inner{
    background-color: #FFF; background-image: none; border: 0 none;
}
.navbar-inverse .navbar-inner{
	height: 88px;
}
.navbar-inverse .container{
    height: 100%;
}
.navbar-collapse, .navbar-collapse.collapse{box-shadow: none; background-color: #FFF;}

.navbar-inverse .nav > li > a{
    background-color: #FFF;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:visited{
    box-shadow: none;
    color: #749bb6;
    font: 15px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 0;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse .navbar-collapse .nav > li > a:hover{
    color: #f8931f;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover{
	box-shadow: none;
}
.navbar-inverse .navbar-collapse{border: 0 none;}
.navbar-inverse .navbar-toggle{
	position: absolute;
	top: 16px;
    right: 10px;
	float: none;
    background-color: #FFF;
}
.navbar-inverse .navbar-collapse .nav > li > a, .navbar-inverse .navbar-collapse .nav > li > a:hover{
    background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar{background-color: #000;}

@media (min-width: 768px){
	.navbar-collapse.collapse{
		margin-top: 30px;
	 	float: right;
	}
	.navbar-inverse .nav > li > a{
	    border-right: 1px solid #f8931f;
	    padding: 0 8px;
	    display: inline-block;
	}
	.navbar-inverse .nav > li:last-child > a{
	    border-right: 0 none;
	}

}

@media (max-width: 767px) {	
	.navbar-collapse .nav > li {
	    width: 100%; display: block; margin: 
	}
	.navbar-collapse .nav > li > a{
	    padding: 17px 0;
	    display: block;
	    border-right: 0 none;
        border-bottom: 1px solid #5b6064;
    }
	.navbar-inverse .navbar-inner{
		height: auto;
	}
}


.mainContant{padding-top: 88px; padding-bottom: 15px;}

#amoforms_action_btn{display: none!important;}
.amoforms_iframe{height: 480px!important;}

.prevWebinar h4{margin-top:20px;margin-botom:20px; }
.prevWebinar a img{width: 100%}


.registerBtns > .btn{
	margin-top: 20px;
    background: #f0ad4e;
    box-sizing: border-box;
    width: 40%;
    height: auto;
    line-height: 3em;
    border-radius: 5px;
    border: 0 none;
}