h1.pageTitle {
	color: #017ba1;
	font: 35px "Roboto";
	text-align: center;
}

h2.myCourses {
	color: #017ba1;
	font: 25px "Roboto";
	text-align: center;
}

.avatar img {
	border: 10px solid #55b3e0;
	margin-right: 10px;
}

.namastepro-progress .namastepro-text {
	font-size: 11px;
}

.namastepro-bar-holder {
	border-radius: 2px;
	background-color: #e8e8e8;
}

.namastepro-bar {
	border-radius: 2px;
	background-color: #f8931f;
}

.courseItem {
	margin: 3px 0;
}

.courseItem .courseName {
	color: #017ba1;
	font: 20px "Roboto";
}